if SHIELD_SHOEDLER54_LEFT

config ZMK_KEYBOARD_NAME
    default "shoedler54"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SHOEDLER54_LEFT || SHIELD_SHOEDLER54_RIGHT

config ZMK_SPLIT
    default y

endif
